<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Greeting you at admin page!</title>
    <link rel="shortcut icon" href="/resources/static/images/favicon.ico" />
    <link rel="stylesheet" href="/resources/static/css/bookstore.css">
    <link rel="stylesheet" href="/resources/static/css/topnav.css">
    <link rel="stylesheet" href="/resources/static/css/usersTable.css">
</head>
<body>
<div class="topnav">
    <h1> Hello, <span th:text="${currentUser}"></span> !
    <a href="/logout" >LOGOUT</a></h1>

</div>

<div class="sidenav" align="left">
    <a href="#" class="">Profile</a>
    <a href="#">Users</a>
    <a href="#">Books</a>
</div>

<div>
    <table id="customers" align="center">
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>MAIL</td>
            <td>ROLE</td>
        </tr>
        <tr th:each="usr : ${users}">

                <td th:text="${usr.id}"></td>
                <td th:text="${usr.name}"></td>
                <td th:text="${usr.email}"></td>
                <td th:text="${usr.role.title}"></td>

                <td><form th:method="POST" th:action="@{/admin/users/{id}(id=${usr.getId()})}" >
                    <input type="submit" value="Edit">
                </form></td>

                <td><form th:method="DELETE" th:action="@{/admin/users/{id}(id=${usr.getId()})}" >
                    <input type="submit" value="Delete">
                </form></td>
        </tr>
        <tr>
        <form th:method="GET" th:action="@{/admin/users/add}" th:align="center" >
            <input type="hidden" name="pageTitle" value="CreateUser">
           <td><input type="submit" value="Add user"></td>
        </form>
        </tr>
    </table>

</div>
</body>
</html>
