.outer{
    width: 100%;
    height: 100%;
}

.form{
    height: 100px;
    width: 200px;
    margin: 0 auto;
}

.form2{
    height: 300px;
    width: 250px;
    margin: 0 auto;
}

h1{
    color: #4CAF50;
}

.tooltip {
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

span{
    color: #ff8c00;
}

.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 88%;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 4px 2px;
    cursor: pointer;
}

.formButton{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 42%;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 4px 2px;
    cursor: pointer;
}